<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Home</title>
    <style>
      body, h2, p{font-family: Georgia, serif}
      .button {
            background-color: palevioletred;
            border: none;
            color: white;
            padding: 6px 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
  </head>
  <body>
    <br />
    <h1>We think that you might be interested in...</h1>
    <br />
    <hr class="w3-border-grey" style="margin:auto;width:100%">
    <br />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
      {% if restaurant_list %}
          {% for r in restaurant_list%}
             <img alt={{ r.name }} src={{ r.pic_link }}
                      width=150" height="150">
              <p><span style="font-weight:bold; font-style:italic">{{ r.name }}</span> </p>
              <p>Price: <span style="font-weight:bold; color: gold">{{ r.price }} </span></p>
              <p>Location: {{ r.location }}</p>
              <br><a href={{r.yelp_link}}>Yelp Page</a></br>
              <br />
          {% endfor %}
      {% else %}
          <p>No restaurant found.</p>
      {% endif %}


  <p><a href="{% url 'search' %}" class="button" >Return</a></p>
  </body>
</html>